node_modules/

# Ignore build stuff
cache/
build/
dist/

# Hardhat cache
cached/

# Ignore solc bin output
bin/

# Others
.env
.DS_Store
.vscode

# Coverage and other reports
/reports
coverage.json

# Local test files
addresses-local.json
localNetwork.json
arbitrum-addresses-local.json
tx-*.log

# Keys
.keystore
# docs artifacts
docs/modules/api
# only used to package @openzeppelin/contracts
contracts/build/
contracts/README.md
# temporary artifact from solidity-coverage
allFiredEvents
.coverage_artifacts
.coverage_cache
.coverage_contracts
# hardhat
cache
artifacts
# Certora
certora/munged
.certora*
.last_confs
certora_*